* {
    box-sizing: border-box;
}
body{
    background-color: #eeeeee;
}
header {
    height: 92px;
    width: 414px;
    padding-top: 8px;
    padding-left: 21px;
    background-color:#CF2B2B;
    position: fixed;
    z-index: 1;
    top: 0px;
    left: 0px;
    box-shadow: 0px 4px 4px rgba(0,0,0,0.25)
}

h1{
    font-family: 'Righteous', cursive;
    font-size: 44px;
    font-weight: 400;
    color: #ffffff;
    margin-bottom: 5px;
}
header p {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #ffffff;
}
main {
    width: 414px;
    margin-top: 92px;
    margin-bottom: 92px;
    padding-top: 31px;
    padding-left: 19px;
    background-color: #eeeeee;
}
h2 {
    font-family: 'Righteous', cursive;
    font-size: 26px;
    font-weight: 44px;
}
section {
    width: 100%;
    margin-top: 17px;
    margin-bottom: 27px;
    background-color: #eeeeee;
    display: flex;
    overflow-y: hidden;
}
section::-webkit-scrollbar {
    display: none;
}
section > div {
    width: 172px;
    padding: 18px 14px 13px;
    Background-color: #ffffff;
    border-radius: 9px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    box-shadow: 0px 0px 10px -4px rgba(0,0,0,0.25);
    margin-right: 16px;
    cursor: pointer
}
figure {
    width: 144px;
    margin-bottom: 4px;
}
img {
    width: 100%;
}
figcaption {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: #333333;
    margin-top: 8px;
}
section > div > p {
    color: #A6A6A6;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 300;
    line-height: 18px;
    margin-bottom: 9px;
}
section > div > div {
    width: 100%;
    height: 22px;
    display: flex;
    justify-content: space-between;
}
section > div > div p  {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
}
ion-icon{
    color: #32B72F;
    font-size: 22px;
}
footer {
    width: 414px;
    height: 92px;
    background-color: #ffffff;
    position: fixed;
    z-index: 1;
    bottom: 0px;
    left: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}
button {
    width: 364px;
    height: 61px;
    border: none;
    border-radius: 50px;
    background-color: #CBCBCB;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: #ffffff;
    line-height: 23px;
    letter-spacing: 0.018em;    
}
.selecionado {
    border: 5px solid #32B72F;
    padding: 13px 9px 8px;
}
